<!<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head %>
    </head>
    <script src="/static/profile/profile.js"></script>
    <body class="container">
        <div class="col-md-6 col-md-offset-3">
            <h1>Welcome to your profile page</h1>
            <label for="informations">Your informations :</label>
            <div id="name"></div>
            <div id="email"></div>
            <br>
            <button class="btn btn-success" id="show-metrics" href="/me/metrics" onClick='document.location.href="/me/metrics"'>
                Bring the metrics
            </button>
            <button class="btn btn-success" id="modify-profile" href="/me/modify" onClick='document.location.href="/me/modify"'>
                Modify Profile
            </button>
            <button class="btn btn-success" id="log-out" href="/" onClick='document.location.href="/"'>
                Log out
            </button>
            <div id='metrics'></div>
        </div>
        <br>
        </div>
    </body>
    <script>
        getToken();
        $.getJSON("/api/profile").done((res) => {
            console.log(res)
            $('#name').text(res.data.user.firstName + " " + res.data.user.lastName);
            $('#email').text(res.data.user.email);
            })
    </script>
</html>
