# Logs
logs
*.log
npm-debug.log*

# Packages
*.json

# Env
.env
.env.travis

# Dependency directories
node_modules/

# TypeScript v1 declaration files
typings/

# Optional npm cache directory
.npm

.key
