<!<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head %>
    </head>
    <script src="/static/profile/profile.js"></script>
    <body class="container">
        <h1>Update your informations :</h1>
        <h3>(leave blank if you don't want to change)</h3>
        <div class="col-md-6 col-md-offset-3">
            <label for="informations">Your current informations :</label>
            <div id="name"></div>
            <div id="email"></div>
            <br>  
        </div>
        <div class="col-md-6 col-md-offset-3">
            <label for="newFisrt">New First Name : </label>
            <input id="form_fisrt" type="fisrt" name="fisrt" />
            <br>
            <label for="newLast">New Last Name : </label>
            <input id="form_last" type="last" name="last" />
            <br>
            <label for="newEmail">New Email : </label>
            <input id="form_email" type="email" name="email" />
            <br>
            <label for="newPassword">New Password : </label>
            <input id="form_password" type="password" name="password" />
            <br><br>
        </div>
        <div>
            <button class="btn btn-success" id="update-info">
                Update your informations
            </button>
        </div>
    </body>
    <script>
        getToken();
        $.getJSON("/profile").done((res) => {
            $('#name').append(res.firstName + " " + res.lastName);
            $('#email').append(res.email);
            })
    </script>
</html>
